[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/quas/Desktop/QGroundControl.desktop]
row=5
col=0

[/home/quas/Desktop/readme.txt]
row=4
col=0

[e82e969d-b62e-45db-8c44-5ccd80845e5b]
row=0
col=0

[473A-120D]
row=6
col=0

[Rubbish Bin]
row=1
col=0

[/]
row=2
col=0

[/home/quas]
row=3
col=0

