[Desktop Entry]
Version=1.0
Type=Application
Name=QGroundControl
Comment=
Exec=/usr/share/ros-workstation/qgroundcontrol/qgroundcontrol-start.sh
Icon=/usr/share/ros-workstation/qgroundcontrol/qgroundcontrol.png
Path=/usr/share/ros-workstation/qgroundcontrol
Terminal=true
StartupNotify=false
